* {
    /* margin: 0; */
    /* padding: 0; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* color: #fff; */
}

/* body {
    background-image: url(./images/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */


/* div {
    height: 150px;
    width: 300px;
    background-color: lightblue;
    padding: 20px;
    background-image: url(./images/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

/* ul { */
    /* list-style-type: none; */
    /* list-style-type: lower-roman; */
    /* list-style-type: upper-alpha; */
/* } */

/* li {
    list-style-type: none;
} */

ul {
    background-color: lightblue;
    width: 300px;
    padding: 20px;
    display: inline-block;
}

.footer-list {
    list-style-position: inside;
    /* display: none; */
}



/* input {
    border: 1px solid blue;
    width: 30%;
}

input:hover {
    border: 2px solid red;
}

button {
    color: white;
    background-color: darkblue;
    border: 2px solid lightblue;
    padding: 10px;
    font-family: monospace;
    cursor: pointer;
}

button:active {
    background-color: red;
} */