/*
h1,
h2,
h3 {
    color: red;
}
*/

/* div {
    background-color: yellow;
}

b {
    background-color: orange;
}

h2 {
    color: darkblue;
}

p {
    color: brown;
} */


p {
    color: blue;
    color: yellow;
    color: orange;
}


/* color : "red"; */