h2 {
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
}

ul {
    background-color: lightskyblue;
    height: 10vh;
    line-height: 10vh;
}

li {
    display: inline;
    /* background-color: blue; */
    color: blue;
    padding: 0px 10px;
}

.contact {
    /* display: none; */
    visibility: hidden;
    visibility: visible;
}