* {
    padding: 0;
    margin: 0;
}

.box-1 {
    background-color: #EF3F81;
    height: 300px;
    width: 300px;
    /* border-color: blue; */
    /* border-width: 5px; */
    /* border-style: solid; */
    /* border-style: dotted; */
    /* border-style: double; */
    border: 5px double #000;
    margin: 20px;
    border-top-color: red;
    /* border-right-width: ; */
    /* border-left-style: ; */
    border-bottom-color: yellow;
}

.box-1 > .inner-section {
    background-color: #E3DDD9;
    height: 220px;
    width: 220px;
    opacity: 0.7;
    /* overflow: hidden; */
    overflow: scroll;
}



.box-2 {
    height: 200px;
    width: 250px;
    background-color: gold;
    /* padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px; */
    /* padding: 10px; */
    /* padding-top: 0px; */

    /* margin-top: 10px; */
    /* margin: 15px; */
    /* padding: 10px 15px 10px 20px; */
    padding: 10px 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin: auto;
}


h1 {
    background-color: blue;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}